<div class="no-question">
    <img src="/assets/chat-ilustration.svg" alt="Balões de conversa">
    <h2>Nenhuma pergunta por aqui...</h2>
    <p>Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!</p>
</div>